.sidebutton_Group {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50px;
    right: 50px;
}

.sideBtn_size {
    position: relative;
    width: 35px;
    height: 35px;
    margin: 15px;
}

.sideBtn_Design {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
    border: 4px solid #453931;
    background-color: #fff8f0;
    border-radius: 10px;

}

.sideBtn_Design:hover{
    border-color: #d16e2c;
    background-color: #ffdeb8;
}